In [1]:
import pandas as pd
import wfdb
import os
import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
records_long = []
properties_long = []
annot_long = []
AnnSymb_long = []
AnnSamp_long = []
AnnRhythm_long = []
Rpeak_Samp_long = []
Rpeak_Symb_long = []


for f in glob.glob('C:/Users/masud/Skrivebord/Github_Bachelor_Project/wfdb-python/data/long_term_AF_data/*.dat'): ##### change the path to own directory.       
                                                                                             ##### The rest should remin the same
                                                                                             ##### Useful function:
                                                                                             ##### print('Current directory is: {}'.format(os.getcwd()))
    sig, fields = wfdb.rdsamp(f[:-4], channels=[1])  #### In this function, pass 
                                                     #### "channels=[0]" or "channels=[1]" to select channel 1 or 2.
    ann = wfdb.rdann(f[:-4], 'atr')
    QRS = wfdb.rdann(f[:-4], 'qrs')
    Symb = pd.Series(ann.symbol)
    Samp = pd.Series(ann.sample)
    QRS_Symb = pd.Series(QRS.symbol)
    QRS_Samp = pd.Series(QRS.sample)
    Rhythm = pd.Series(ann.aux_note)
    records_long.append(sig)
    properties_long.append(fields)
    annot_long.append(ann)
    AnnSymb_long.append(Symb)
    AnnSamp_long.append(Samp)
    Rpeak_Symb_long.append(QRS_Symb)
    Rpeak_Samp_long.append(QRS_Samp)
    AnnRhythm_long.append(Rhythm)
    
    

AnnSymb_long = pd.Series(AnnSymb_long).values
AnnSamp_long = pd.Series(AnnSamp_long).values

In [3]:
x = 0
for i in range(23):
    x += np.sum(len(Rpeak_Samp_long[i]))
print(f"All Rpeaks amount: {x}")

All Rpeaks amount: 2246349

In [4]:
appended_AnnSamp = [item for i in range(len(AnnSamp_long)) for item in AnnSamp_long[i]]
appended_AnnSymb = [item for i in range(len(AnnRhythm_long)) for item in AnnRhythm_long[i]]

In [5]:
df = pd.DataFrame(
    {'Rpeaks': appended_AnnSamp,
     'Label': appended_AnnSymb
    })

df

          Rpeaks Label
0          83607    (N
1          83628
2          83736
3          83844
4          83953
...          ...   ...
9055631  9660523
9055632  9660620
9055633  9660727
9055634  9660816
9055635  9660904

[9055636 rows x 2 columns]

### Rescaling 128 Hz samples (Long Term AF) into 250 Hz samples (Atrial Fibrillation)

In [6]:
df['Rpeaks'] = df['Rpeaks']*2

In [7]:
df['RRI'] = abs(df['Rpeaks'] - df['Rpeaks'].shift(-1))
df

           Rpeaks Label    RRI
0          167214    (N   42.0
1          167256        216.0
2          167472        216.0
3          167688        218.0
4          167906        218.0
...           ...   ...    ...
9055631  19321046        194.0
9055632  19321240        214.0
9055633  19321454        178.0
9055634  19321632        176.0
9055635  19321808          NaN

[9055636 rows x 3 columns]

In [8]:
df = df.replace(r'^\s*$', np.nan, regex=True) ### Replace empty places with NaN
df

           Rpeaks Label    RRI
0          167214    (N   42.0
1          167256   NaN  216.0
2          167472   NaN  216.0
3          167688   NaN  218.0
4          167906   NaN  218.0
...           ...   ...    ...
9055631  19321046   NaN  194.0
9055632  19321240   NaN  214.0
9055633  19321454   NaN  178.0
9055634  19321632   NaN  176.0
9055635  19321808   NaN    NaN

[9055636 rows x 3 columns]

In [9]:
df = df.fillna(method='ffill') ### Perform "forward fill" - filling instances (NaN) in front row with preceeeding value
df

           Rpeaks  Label    RRI
0          167214     (N   42.0
1          167256     (N  216.0
2          167472     (N  216.0
3          167688     (N  218.0
4          167906     (N  218.0
...           ...    ...    ...
9055631  19321046   Aux  194.0
9055632  19321240   Aux  214.0
9055633  19321454   Aux  178.0
9055634  19321632   Aux  176.0
9055635  19321808   Aux  176.0

[9055636 rows x 3 columns]

In [10]:
unique, counts = np.unique(df.Label, return_counts=True)
dict(zip(unique, counts))

{'\x01 Aux': 1680852,
 '(AB': 45806,
 '(AFIB': 3326318,
 '(B': 25037,
 '(IVR': 825,
 '(N': 2914700,
 '(SBR': 142391,
 '(SVTA': 22052,
 '(T': 8826,
 '(VT': 4081,
 'M': 133,
 'MB': 7,
 'MISSB': 214781,
 'PSE': 669827}

In [11]:
arrhythmia_list = ['(N', '(AFIB']

final_df = df[df['Label'].isin(arrhythmia_list)]
final_df

          Rpeaks  Label    RRI
0         167214     (N   42.0
1         167256     (N  216.0
2         167472     (N  216.0
3         167688     (N  218.0
4         167906     (N  218.0
...          ...    ...    ...
8992738  8395432  (AFIB  100.0
8992739  8395532  (AFIB  162.0
8992740  8395694  (AFIB  182.0
8992741  8395876  (AFIB  170.0
8992742  8396046  (AFIB   82.0

[6241018 rows x 3 columns]

In [12]:
unique2, counts2 = np.unique(final_df.Label, return_counts=True)
dict(zip(unique2, counts2))

{'(AFIB': 3326318, '(N': 2914700}

In [13]:
final_df = final_df.drop(final_df[final_df.RRI > 1000].index)
final_df

          Rpeaks  Label    RRI
0         167214     (N   42.0
1         167256     (N  216.0
2         167472     (N  216.0
3         167688     (N  218.0
4         167906     (N  218.0
...          ...    ...    ...
8992738  8395432  (AFIB  100.0
8992739  8395532  (AFIB  162.0
8992740  8395694  (AFIB  182.0
8992741  8395876  (AFIB  170.0
8992742  8396046  (AFIB   82.0

[6240952 rows x 3 columns]

In [14]:
final_df['Label'] = final_df['Label'].map( 
                   {'(N':False , '(AFIB':True})

In [15]:
final_df['Label'] = final_df['Label'].astype(int)
final_df

          Rpeaks  Label    RRI
0         167214      0   42.0
1         167256      0  216.0
2         167472      0  216.0
3         167688      0  218.0
4         167906      0  218.0
...          ...    ...    ...
8992738  8395432      1  100.0
8992739  8395532      1  162.0
8992740  8395694      1  182.0
8992741  8395876      1  170.0
8992742  8396046      1   82.0

[6240952 rows x 3 columns]

In [16]:
def segmenting_record_long(seg_value_long):
    rri2_long = final_df['RRI'] ### Storing the intervals between rpeaks
    rri2_long = np.array(rri2_long, dtype=np.float64) ### Ensuring no overflow issues happens, when calculating in for loop later
    
    amount_long = -(len(rri2_long) % seg_value_long) # amount of data points to remove, for equal length segments with no residue points
    print(f"Amount to remove {amount_long}")
    
    rec_longmount_long = rri2_long[:amount_long]
    seg_shape_long = len(rec_longmount_long) // seg_value_long # amount of total segments (given the specified segment length) 
    print(f"Shape 0: {seg_shape_long}")
    
    segmented_rec_long = rec_longmount_long.reshape(seg_shape_long,seg_value_long)
    return segmented_rec_long

In [17]:
segmented_record_long = segmenting_record_long(60) # Specify the segment length

Amount to remove -52
Shape 0: 104015

# X

In [21]:
### Loads in functions for Shannon Entropy, Mean absolute deviation calculations
%run "features_utils.ipynb"
from scipy.stats import median_abs_deviation

In [24]:
all_features_long = []

### Calculating features for every single segmented "block" inside the segmented_record_long variable
for x in range(len(segmented_record_long)):
    
    #MEAN
    ff1 = np.nanmean(segmented_record_long[x]) ### nanmean, nanstd computes values while ignoring nan-values
    #STD
    ff2 = np.nanstd(segmented_record_long[x])
    #RMSSD
    sum_ = 0
    for y in range(len(segmented_record_long[x]) - 1): ### loops 19 times
        sum_ += (segmented_record_long[x][y] - segmented_record_long[x][y+1])**2
    sum_multiplied = 1/(len(segmented_record_long) - 1) * sum_
    ff3 = np.sqrt(sum_multiplied)
    #NORMALIZED RMSSD
    ff4 = (ff3 / ff1)
    #SHANNON ENTROPY
    ff5 = entropy(segmented_record_long[x])
    #MEAN ABSOLUTE DEVIATION
    ff6 = mean_abs_deviation(segmented_record_long[x])
    #MEDIAN ABSOLUTE DEVIATION
    ff7 = median_abs_deviation(segmented_record_long[x])
    
    #COVARIANCE
    #z = np.stack((ff1, ff2))
    #ff5 = np.cov(z) ### try cov with previous segment

    my_features = pd.Series([np.around(ff1,3), np.around(ff2,3), np.around(ff3,3), np.around(ff4,3), np.around(ff5,3), 
                             np.around(ff6,3), np.around(ff7,3)],
                            index=['Mean','STD','RMSSD','Normalized RMSSD','Shannon Entropy',
                                   'Mean absolute deviation','Median absolute deiviation'])
    all_features_long.append(my_features)

In [25]:
n = 0

print(f"Features calculated for an example segment:\n{all_features_long[n]}") 
print('\n'f"Features variable contains {len(all_features_long)} segments")

Features calculated for an example segment:
Mean                          200.800
STD                            52.969
RMSSD                           0.220
Normalized RMSSD                0.001
Shannon Entropy                 0.654
Mean absolute deviation        31.760
Median absolute deiviation      2.000
dtype: float64

Features variable contains 624095 segments

# Y

In [26]:
Label_long = final_df["Label"]
Label_long = np.array(Label_long, dtype=np.float64)

y_amount_long = Label_long[:-52] # <=============== (1)
y_shape_long = y_amount_long.reshape(104015, 60) # <=============== (2)
y_list_long = []

### Calc if every 20 segment block is Normal synus rythm or AFIB
for g in range(len(y_shape_long)):
    #y_segment = y_shape
    sum_segment_long = np.sum(y_shape_long[g])
    if sum_segment_long >= 30: # <=============== (3)
        sum_segment_long = 1
    else: sum_segment_long = 0
    y_list_long.append(sum_segment_long)

y_list_long = np.array(y_list_long, dtype=np.float64)
print(y_list_long.dtype)
print(f"Length of y_list: {len(y_list_long)}")

float64
Length of y_list: 624095