# (1) Importing/Storing data

In [9]:
import wfdb
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
records = []
properties = []
annot = []
AnnSymb = []
AnnSamp = []
AnnRhythm = []
Rpeak_Samp = []
Rpeak_Symb = []


for f in glob.glob('C:/Users/masud/Skrivebord/Github_Bachelor_Project/wfdb-python/data/atrial_fibrillation_data/*.dat'): ##### change the path to own directory.       
                                                                                             ##### The rest should remin the same
                                                                                             ##### Useful function:
                                                                                             ##### print('Current directory is: {}'.format(os.getcwd()))
    sig, fields = wfdb.rdsamp(f[:-4], channels=[1])  #### In this function, pass 
                                                     #### "channels=[0]" or "channels=[1]" to select channel 1 or 2.
    ann = wfdb.rdann(f[:-4], 'atr')
    QRS = wfdb.rdann(f[:-4], 'qrs')
    Symb = pd.Series(ann.symbol)
    Samp = pd.Series(ann.sample)
    QRS_Symb = pd.Series(QRS.symbol)
    QRS_Samp = pd.Series(QRS.sample)
    Rhythm = pd.Series(ann.aux_note)
    records.append(sig)
    properties.append(fields)
    annot.append(ann)
    AnnSymb.append(Symb)
    AnnSamp.append(Samp)
    Rpeak_Symb.append(QRS_Symb)
    Rpeak_Samp.append(QRS_Samp)
    AnnRhythm.append(Rhythm)
    
    

AnnSymb = pd.Series(AnnSymb).values
AnnSamp = pd.Series(AnnSamp).values

# (2) Pre processing data

In [3]:
my_lst = ['Record 0', ### 'Record 0':records[0][:, 0]
           'Record 1',
           'Record 2',
           'Record 3',
           'Record 4',
           'Record 5', 
           'Record 6', 
           'Record 7', 
           'Record 8', 
           'Record 9', 
           'Record 10',
           'Record 11', 
           'Record 12', 
           'Record 13',
           'Record 14', 
           'Record 15', 
           'Record 16', 
           'Record 17', 
           'Record 18', 
           'Record 19', 
           'Record 20', 
           'Record 21',
           'Record 22']

In [4]:
# df_inter = pd.DataFrame()

# for i in range(23):
#     df_inter[my_lst[i]] = appended_data

In [8]:
# labeled_Rpeaks = []
# appended_data = []
# df_inter = {}
# # df_inter = pd.DataFrame()
# for i in range(23): ## 23 records
#     for j in range(len(AnnSamp[i])-1): ## AnnSamp or AnnRhythm -- both same dimensions
#         df = pd.DataFrame(Rpeak_Samp[i][(Rpeak_Samp[i] > AnnSamp[i][j]) & (Rpeak_Samp[i] < AnnSamp[i][j+1])])
#         df['Label'] = AnnRhythm[i][j]
#         appended_data.append(df)
#     df_inter[my_lst[i]] = pd.Series(appended_data)
#     appended_data.clear()
# # labeled_Rpeaks = pd.concat(appended_data)

In [34]:
AnnRhythm[0]

0        (N
1     (AFIB
2        (N
3     (AFIB
4        (N
5     (AFIB
6        (N
7     (AFIB
8        (N
9     (AFIB
10       (N
11    (AFIB
12       (N
13    (AFIB
14       (N
dtype: object

In [38]:
AnnRhythm[0][14]

'(N'

In [30]:
AnnSamp[0]

0          30
1      102584
2      119604
3      121773
4      122194
5      133348
6      166857
7     1096245
8     1098054
9     1135296
10    1139595
11    1422436
12    1423548
13    1459277
14    1460416
dtype: int32

In [39]:
AnnSamp[0][14]

1460416

In [31]:
Rpeak_Samp[0]

0             61
1            200
2            358
3            584
4            729
          ...
44000    8999121
44001    8999327
44002    8999531
44003    8999734
44004    8999941
Length: 44005, dtype: int32

In [48]:
labeled_Rpeaks = []
appended_data = []
for i in range(23): ## 23 records
    for j in range(len(AnnSamp[i])-1): ## AnnSamp or AnnRhythm -- both same dimensions
        df = pd.DataFrame(Rpeak_Samp[i][(Rpeak_Samp[i] > AnnSamp[i][j]) & (Rpeak_Samp[i] < AnnSamp[i][j+1])])
        df['Label'] = AnnRhythm[i][j]
        appended_data.append(df)
        

labeled_Rpeaks = pd.concat(appended_data)

In [49]:
labeled_Rpeaks

             0 Label
0           61    (N
1          200    (N
2          358    (N
3          584    (N
4          729    (N
...        ...   ...
15373  2849597    (N
15374  2849785    (N
15375  2849975    (N
15376  2850083    (N
15377  2850266    (N

[714255 rows x 2 columns]

In [13]:
my_dict2 = {'Record 0':records[0][:, 0], 'Record 1':records[11][:, 0]}
dataset = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in my_dict2.items() ])) ### Creates NaN values for non equal length columns
dataset

         Record 0  Record 1
0          -0.210     0.200
1          -0.200     0.185
2          -0.220     0.170
3          -0.225     0.180
4          -0.215     0.180
...           ...       ...
9205755    -1.810       NaN
9205756    -1.560       NaN
9205757    -1.345       NaN
9205758    -1.230       NaN
9205759    -1.165       NaN

[9205760 rows x 2 columns]

In [11]:
### For MIT-BIH Atrial Fibrillation DB RECORDS
my_dict = {'Record 2':records[1][:, 0], ### 'Record 0':records[0][:, 0]
           'Record 3':records[2][:, 0],
           'Record 4':records[3][:, 0],
           'Record 5':records[4][:, 0],
           'Record 6':records[5][:, 0],
           'Record 7':records[6][:, 0], 
           'Record 8':records[7][:, 0], 
           'Record 9':records[8][:, 0], 
           'Record 10':records[9][:, 0], 
           'Record 11':records[10][:, 0], 
#            'Record 11':records[11][:, 0], ### Not the same length
           'Record 12':records[12][:, 0], 
           'Record 13':records[13][:, 0], 
           'Record 14':records[14][:, 0], 
           'Record 15':records[15][:, 0], 
           'Record 16':records[16][:, 0], 
           'Record 17':records[17][:, 0], 
           'Record 18':records[18][:, 0], 
           'Record 19':records[19][:, 0], 
           'Record 20':records[20][:, 0], 
           'Record 21':records[21][:, 0],
           'Record 21':records[22][:, 0]}

In [14]:
### Creates df with individual columns is individual columns
df_dictionary = pd.DataFrame(my_dict)
dataset = pd.concat([dataset, df_dictionary], axis=1, join='inner')
dataset

,Record 0,Record 1,Record 2,Record 3,Record 4,Record 5,Record 6,Record 7,Record 8,Record 9,...,Record 12,Record 13,Record 14,Record 15,Record 16,Record 17,Record 18,Record 19,Record 20,Record 21
0,-0.210,0.200,-0.395,-0.125,-0.235,-0.340,-0.055,-0.320,-0.095,-0.275,...,0.095,-0.155,-0.140,-0.160,0.025,0.740,-0.395,-2.050,0.240,-0.370
1,-0.200,0.185,-0.260,-0.110,-0.210,-0.320,-0.055,-0.350,-0.095,-0.300,...,0.100,-0.155,-0.120,-0.160,0.015,0.715,-0.345,-1.945,0.280,-0.450
2,-0.220,0.170,-0.185,-0.105,-0.210,-0.325,-0.105,-0.345,-0.115,-0.235,...,0.090,-0.155,-0.095,-0.140,0.015,0.565,-0.300,-1.760,0.410,-0.430
3,-0.225,0.180,-0.135,-0.085,-0.205,-0.315,-0.125,-0.360,-0.110,-0.160,...,0.105,-0.170,-0.105,-0.140,0.030,0.310,-0.275,-1.520,0.470,-0.385
4,-0.215,0.180,-0.080,-0.075,-0.215,-0.310,-0.135,-0.365,-0.130,-0.100,...,0.085,-0.160,-0.120,-0.150,0.050,0.145,-0.240,-1.315,0.350,-0.335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9205755,-1.810,NaN,-0.130,0.030,-0.130,-0.215,-0.280,-0.170,-0.190,-0.365,...,0.145,-0.145,-0.180,-0.045,0.565,-0.170,-0.130,0.055,0.620,-0.580
9205756,-1.560,NaN,-0.160,0.025,-0.135,-0.215,-0.310,-0.185,-0.190,-0.410,...,0.155,-0.135,-0.160,-0.065,0.555,-0.185,-0.110,0.065,0.595,-0.525
9205757,-1.345,NaN,-0.140,0.015,-0.140,-0.235,-0.320,-0.195,-0.150,-0.380,...,0.130,-0.140,-0.170,-0.055,0.560,-0.185,-0.125,0.035,0.565,-0.520
9205758,-1.230,NaN,-0.160,0.020,-0.110,-0.245,-0.335,-0.210,-0.150,-0.400,...,0.120,-0.150,-0.180,-0.035,0.575,-0.190,-0.130,0.020,0.470,-0.520
9205759,-1.165,NaN,-0.250,0.020,-0.125,-0.245,-0.345,-0.255,-0.170,-0.425,...,0.110,-0.140,-0.175,-0.035,0.580,-0.210,-0.135,0.005,0.405,-0.565